* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.1rem;
    margin-top: 10px;
}

nav {
    background-color: #334155;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 15px;
    color: #1e293b;
}

a:link {
    color: #50577A;
}

a:hover {
    color: black;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #B5C0D0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-icon {
    /* position: relative; */
    left: 85%;
    bottom: 10px;
    font-size: 45px;
    color: #2c3e50;
    /* margin-bottom: 10px; */
    ;
}

#nLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 0.95rem;
}

footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}

